* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 100vh;
  border: 1px rgb(226, 226, 217) solid;
  position: relative;
  overflow-y: hidden;
}
.header {
  padding: 10px;
  height: 50px;
  background-color: hsla(50, 33%, 25%, 0.75);
  display: flex;
  align-items: center;
  color: #fff;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 2px;
}

.inputarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 5px;
}
.input {
  outline: none;
  width: calc(100% - 80px);
  height: 20px;
  padding: 0.3rem;
  background-color: #fff;
  border: 0.1rem solid gray;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.btn {
  width: 50px;
  height: 35px;
  border: none;
  background-color: darkcyan;
  color: #fff;
  font-weight: 700;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Messages */
.msgs {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.msg {
  background-color: gray;
  width: 45%;
  padding: 0.2rem 0.5rem;
  margin: 5px;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.right {
  align-self: flex-end;
  background-color: rgb(110, 119, 100);
}
